.main {
    width: 1505x;
    height: 100px;
}
.header {
    border-style: inset;
    border-color: #2e2e2f;
    border-width: 7px;
    width: 1505px;
    height: 100px;
    margin: auto;
    margin-left: -10px;
    margin-top: -15px;
}

.mleft {
    text-align: center;
    float: center;
    width: 300px;
    height: 600px;
    margin-left: -8px;
    margin-top: 0px;
    border-style: inset;
    border-color: #a5a5a5;
    border-width: 1px;
    background: #c3c3c3;
}

li{
    text-align:left;
    margin-left:-20px;
}
.mright {
    width: 1205px;
    height: 600px;
    margin-left: 290px;
    margin-top: -600px;
    text-align: center;
    font-size: 16px;
    background-color: #61ec1c;
}

.main_button {
    margin-top: 2px;
    width: 40px;
    height: 34px;
    color: #ffffff;
}


li {
    list-style-type: none;
    width: 20em;
}

ul {
    padding-left: 3;
}


.texbox {
    float: left;
    display: block;
    width: 300px;
    border: 1px solid blue;
    margin: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    color: #0b0b01;
    font-size: 11px;
    font-family: Tahoma;
}


.btn-info {
    width: 230px;
    margin-top:50px;
}


.footer {
    height: 50px;
    width: 1496px;
    border: 2;
    margin-top:-3px;
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
    background-color: black;
}

h4{
    margin-bottom:-10px;
}
.add_book {
    background-color: #ec1c24;
    width: 300px;
    height: 600px;
    margin-top: 0px;
    margin-left: 400px;
}

.info {
    width: 240px;
    margin-top:20px;
}


.submit_btn {
    margin-top: 20px;
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}

.table table-striped {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 100px;
    width:800px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child 
{
        text-align: left;
}

