<!DOCTYPE html>

<html>
<head>
   
</head>
<body>
    <h3>Add Author</h3>

    @using (Html.BeginForm("SaveAuthor", "Saviour"))
    {
        <input type="text" name = "_authorName"/>
        <input type="submit" />
    }
</body>
</html>


