
    <h3>Add Publisher</h3>

    @using (Html.BeginForm("SavePublisher", "Saviour"))
    {
        <input type="text" name="_publisherName" />
        <input type="submit" class="submit_btn"/>
    }



